<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>battle</title>
    <link rel="stylesheet" href="/static/css/game.css">
</head>
<body>
    <script src="/static/js/game.js"></script>
    <div id="gameinfo" class="game info">

    </div>
    <div id="enemy" class="enemy">対戦相手領域</div>
    <div id="battle" class="battle">対戦カード領域</div>
    <div id="self" class="self">自分領域</div>
    <script>
        window.onload = function () {game_info()};
    </script>
</body>
</html>