<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="/static/css/title.css">
    <link rel="icon" href="/static/image/favicon.ico" size="32x32">
</head>
<body>
    <script src="/static/js/title.js"></script>
    <a href="/select/character">
        <div class="anotherpage">
            <div class="title">
                Profile Element
            </div>
            <!-- <div>
                <strong>クリックでスタート</strong>
            </div> -->
        </div>
    </a>
</body>
</html>