body
{
    margin: 0;
}
/* ゲーム情報領域 */
.game.info
{
    position: absolute;
    height: 100vh;
    width: 10vw;
    background-color: #ffffff;
}
/* 勝敗情報 */
.ramp
{
    position: absolute;
    width: 5vh;
    height: 5vh;
    border: 1mm ridge #000000;
    margin: 1px;
    left: 5vh;
}

.ramp.draw
{
    background-color: #808080;
}

.ramp.win
{
    background-color: #ff0000;
}

.ramp.lose
{
    background-color: #0000ff;
}

.ramp.before
{
    background-color: #00ff00;
}
/* 敵情報 */
.enemy
{
    position: absolute;
    height: 30vh;
    width: 90vw;
    left: 10vw;
    background-color: #00ffff;
}
.ene
{
    position: absolute;
    top: 5vh;
}
/* バトル情報 */
.battle
{
    position: absolute;
    height: 40vh;
    width: 90vw;
    top: 30vh;
    left: 10vw;
    background-color: #ffffff;
}
/* 自分情報 */
.self
{
    position: absolute;
    height: 30vh;
    width: 90vw;
    top: 70vh;
    left: 10vw;
    background-color: #fff000;
}
.chr
{
    position: absolute;
    top: 5vh;
}
/* 属性情報 */
.element
{
    height: 15vh;
    width: 8vh;
    border-radius: 10px;
    margin: 2px;
}

.element.fire
{
    background-color: #ffa500;
}

.element.water
{
    background-color: #0000ff;
}

.element.wind
{
    background-color: #00ff00;
}

.element.back
{
    background-color: #696969;
}
/* 選択状態 */
.select
{
    top: calc(5vh - 2px);
    border: 2px solid;
    border-color: #ff0000;
}
/* 決定ボタン */
.choice
{
    position: absolute;
    height: 20vh;
    width: 20vw;
    top: 10vh;
    right: 5vw;
    background-color: #00fa9a;
    text-align: center;
    line-height: 20vh;
    font-size: 5vh;
}