body
{
    width: 100vw;
    height: 100vh;
    background-color: #b0c4de;
    margin: 0;
}

a
{
    position: abolute;
    text-decoration: none;
    font-size: 3vh;
    font-family: "Hiragino Sans";
    color: #000000;
}

.link
{
    position: absolute;
    background-color: #ffffff;
    top: 10vh;
    left: 10vw;
    display: inline;
    width: 20vw;
    height: 10vh;
    border-radius: 10px;
    text-align: center;
    line-height: 10vh;
    font-size: 3vh;
    font-family: "Hiragino Sans";
    color: #000000;
}

.anotherpage
{
    width: 10vw;
    height: 10vh;
}

.newcharacter
{
    position: absolute;
    width: 30vh;
    height: 30vh;
    background-color: #ffffff;
}

.character
{
    position: absolute;
    width: 30vh;
    height: 30vh;
    background-color: #ffffff;
    margin: 10px 10px;
}

#add
{
    top: 10vh;
    right: 10vw;
    height: 40vh;
    width: 40vh;
}

#characterlist
{
    position: absolute;
    top: 50vh;
    height: 50vh;
    width: 100vw;
    background-color: #000000;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.text
{
    position: absolute;
    height: 10vh;
    width: 20vh;
    top: 30vh;
    margin: 0 5vh 0 5vh;
    text-align: center;
    line-height: 10vh;
    font-size: 3vh;
    font-family: "Hiragino Sans";
    color: #000000;    
}